/* .search{
    margin: 20px;
} */
.header{
    /* margin: 20px 0; */
    background-image: url(../images/headerbg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}
.main-head{
   padding: 35px;
}
.logo{
    background-color:#f8f9fa9c;
    /* opacity: 0.6; */
    text-align: center;
    /* padding-top: 5%; */
    margin-top: 15%;
    margin-left: 10%;
}
.input{
    border-radius: 20px;
    opacity: 0.7;
    width: 100%;
}
.content{
       /* text-align: inherit; */
       text-align: justify;
       font-size: larger;
}
/* .menu{
    background: beige;
} */
.menu_list{
    list-style-type: none;
    color: white;
}
.menu_items{
    display: inline-block;
    padding-left: 1%;
    padding-top: 10%;
    font-weight: 500;
    margin: 10px;
    color: rgb(8, 203, 233);
}
.menu_link{
    color: rgb(247, 4, 4);
    text-decoration: none;
    background-color: rgba(255, 233, 206, 0.71);
    background-blend-mode: color;
    border-radius: 5px;
}
.bdy_container{
    background-image: url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;  
}
.bdy_container_body{
    text-align: center;
    padding-top: 16%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: double;
}
.btn{
    border-radius: 10px;
   
}
.card{
    width: 265px;
    height: 360px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px #acffdf;
}
.image{
    border-radius: 12px;
}
.button{
    border-radius: 15px;
    margin-left: 60px;
}
.card-img{
    height: 90px;
    width: 90px;
}
.cart_card{
    height: auto;
    width: auto;
}
.btn-cart{
    border-radius: 10px;
    margin-left: 180px;
 
}
.heading{
    margin: 20px 0;
}
.name_price{
    color: tomato;
}
.add_items{
    text-align: center;
}
span{
    color: red;
}
.form_input{
    padding: 5px;   
}
.add_items{
    margin: 20px 0;
}
label{
    float: left;
    font-size: 20px;
    color:rgb(211, 154, 79);
}
.form_input{
 margin: 10px 0;
}
.form-control{
    border-radius: 10px;
}
.upload_btn{
    margin-top: 10px;
}
footer{
    background-color: #5de4ff;
}
.footer_logo{
    text-align: center;
    margin-top: 12%;
}
.footer_menu_list{
    list-style-type:circle;
    text-align: left;
    margin: 10px;
    padding: 10px;
    padding-left: 25%;
}
.footer_menu_items{
    margin: 10px;
    font-size: 20px;
}
.follow_head{
    text-align: center;
    color: red;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.follow_menu{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;

}
.follow_items{
    margin: 10px;
    font-size: large;
    display: inline-block;
}
.footer_tagline{
    text-align: center;
    margin: 5px;
    color: coral;
}