/* .search{
    margin: 20px;
   
    background-repeat: no-repeat;
    background-size: cover;
} */
.header{
    /* margin: 20px 0; */
    background-image: url(../images/headerbg-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    background-color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
/* .main-head{
   padding: 35px;
} */
.logo{
    background-color: #e1e8ee00;
    /* opacity: 0.6; */
    text-align: center;
    /* padding-top: 5%; */
    margin-top: 10%;
    margin-left: 18%;
    margin-bottom: 10%;

}
.input{
    border-radius: 10px;
    opacity: 0.7;
    width: 100%;
    padding-left: 2%;
}
.content{
       /* text-align: inherit; */
       text-align: justify;
       font-size: larger;
}
/* .menu{
    background: beige;
} */
.menu_list{
    list-style-type: none;
    color: white;
}
.menu_items{
    display: inline-block;
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 600;
    margin: 0.5%;
    color:#0d639b;
}
.menu_link{
    color: #0d639b;
    text-decoration: none;
    /* background-color: rgba(255, 233, 206, 0.71);
    background-blend-mode: color; */
    border-radius: 5px;
}
.bdy_container{
    /* background-image: url(../images/bg-1.jpg); */
    background-image:url(../images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;  
}
.bdy_container_body{
        /* text-align: center; */
        padding-top: 20%;
        padding-left: 4%;
        font-size: 20px;
        font-weight: 600;
        color: #0d639b;
}
.btn{
    border-radius: 10px;
   
}
.incre_btn{
height: 20%;
width: 2px;
/* position: relative; */
}
.incre_symbl{
    margin-top: -8px;
    margin-left: -5px;
}
/* .bi{
fill: #ddaf2b;
} */

.selected{
    fill: red;
}

.items{
    margin-bottom: 3%;
}
.card{
    width: 265px;
    height: 400px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px #acffdf;
    position: inherit;
}
.image{
    border-radius: 12px;
}
.button{
    border-radius: 15px;
    /* margin-left: 50px; */
    margin: 6%;
}
.card-img{
    height: 90px;
    width: 90px;
}
.cart_card{
    height: auto;
    width: auto;
}
.btn-cart{
    border-radius: 10px;
    margin-left: 110px;
    margin-top: 15px;
 
}
.heading{
    margin: 20px 0;
}
.name_price{
    color: tomato;
}
.add_items{
    text-align: center;
}
span{
    color: red;
}
.form_input{
    padding: 5px;   
}
.add_items{
    margin: 20px 0;
}
label{
    float: left;
    font-size: 20px;
    color:rgb(211, 154, 79);
}
.upload_input{
 margin: 10px 0;
}
.form-control{
    border-radius: 10px;
}
.upload_btn{
    margin-top: 10px;
}
footer{
    background-color: #0d639b;
}
.footer_logo{
    text-align: center;
    margin-top: 12%;
}
.footer_menu_list{
    list-style-type:circle;
    text-align: left;
    margin: 10px;
    padding: 10px;
    padding-left: 25%;
}
.footer_menu_items{
    margin: 10px;
    font-size: 20px;
}
.follow_head{
    text-align: center;
    color: #dabf7a;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.follow_menu{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;

}
.follow_items{
    margin: 10px;
    font-size: large;
    display: inline-block;
}
.footer_tagline{
    text-align: center;
    margin: 5px;
    color: #dabf7a;
}
.fmenu_link{
    color:#dabf7a;
    text-decoration:none;
}
a:hover {
    color: #f93737;
}

/* About us Section */
.about_logo{
    margin-top: 20px;
}
.about_menu_item{
    display: inline-block;
    padding-left: 1%;
    padding-top: 5%;
    font-weight: 600;
    margin: 0.5%;
    color:#0d639b;
}
.about_us{
    padding: 10px;
    text-align: justify;
    margin-top: 25px;
    font-family: serif;
}
.abt_heading{
    text-align: center;
    text-transform: uppercase;
    color: rgb(209 161 36);
    margin-top: 10%;
}
.abt_body{
    padding: 5px;
    color: #3d679b;
    font-size: 16px;
    font-family: cursive;
}
.abt-container{
    margin-top: 12%;
}
.partner{
    margin-bottom: 20px;
}
.partner_heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 35px;
}
.partner_body{
    text-align: center;

}
.bi{
    cursor: pointer;
}

/*  Gallery Section */
.gallery_title{
    text-align: center;
    color: #ddaf2b;
    font-family: emoji;
}
.gallery{
    height: 300;
    width: 300;
}
.gallery_logo{
    margin-top: 20px;
}
.gallery_menu_item{
    display: inline-block;
    padding-left: 1%;
    padding-top: 5%;
    font-weight: 600;
    margin: 0.5%;
    color:#0d639b;
}
.gallery-container{
    margin-top: 13%;
}

/* SIGNUP PAGE CSS */
/* .header{
    background-image: url(../images/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    text-align: center;
    padding: 20px;
} */
.menu_list{
    list-style-type: none;
    /* padding: 15px; */
    text-align: center;
}
.list_item{
    display: inline;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
} 
/* .main{
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/
.main{
    margin-top: 12%;
}
.login_menu_items{
    display: inline-block;
    padding-left: 1%;
    padding-top: 7%;
    font-weight: 600;
    margin: 0.5%;
    color:#0d639b;
}
.signup{
    text-align: center;
    color: black;
    text-transform: capitalize;
    margin-top: 3%;
}
label{
    padding-left: 10px;
    font-size: 20px;
    color: black;
    font-family: serif;
}
.form_input{
    margin: 10px 50px; 
}
.form-control{
    border-radius: 20px;
    box-shadow: 2px lightslategray;
}
span{
    color: red;
}
.log-btn{
    margin-left: 10%;
}
.payment{
    width: 20%;
    margin: 20px;
}
.link_span{
    cursor: pointer;
}
.badge {
    border-radius: 20px;
    opacity: 0.7;
    z-index: 999  ;
    color: red;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    background-color: aliceblue;
 } 
 svg:visited
 {
    fill:red
 }
 .red{
    fill:red;
 }

 .wishlist{
    margin-top: 15%;
 }

 .payment-container{
    margin-top: 12%;
 }
 .cart-container{
    margin-top: 2%;
 }